:root {
  --font-secondary: "Bakbak One", Times New Roman, Georgia, serif;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #0d0d15;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  color: #f5f8fb;
  font-size: 18px;
  line-height: 28px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.navigation {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.navigation-list {
  list-style-type: none;
}

.nav-link {
  color: #f5f8fb;
  text-decoration: none;
}
.search {
  border: 2px solid rgba(208, 215, 251, 0.17);
  height: 48px;
  width: 188px;
  padding-left: 44px;
}
.search-input {
  color: #f5f8fb;
}

.accessibility {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 1px;
  width: 1px;
  visibility: hidden;
  opacity: 0;
}

.btn {
  color: #f5f8fb;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 10px 20px 10px 20px;
}

.btn-2 {
  color: #f5f8fb;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 8px 20px 8px 20px;
}

.button-connect {
  background-color: #0265dc;
  border-color: #0265dc;
}

.button-connect-walet {
  background-color: #0265dc;
  border: 2px solid #0265dc;
}

.button-whitelist-now {
  background-color: #0d0d15;
}

h1 {
  font: 52px/62px var(--font-secondary);
  letter-spacing: -0.5px;
  color: #f5f8fb;
  margin: 0 0 20px;
}

h2 {
  font-family: var(--font-secondary);
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #f8f7ff;
}

.baner-blue {
  color: #0265dc;
}

.statistic-title {
  font-size: 20px;
  font-weight: 500;
  color: #f5f8fb;
}

.definition {
  font-size: 16px;
  line-height: 26px;
}

dt {
  font: 44px/56px var(--font-secondary);
  text-shadow: 2px 2px 4px #ffffff;
}

dd {
  color: #eff5fa;
}

.folder-icon {
  font: 24px/32px var(--font-secondary);
  color: #f8f7ff;
  text-align: left;
}

.catalog-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #0265dc;
  background-color: #f5f8fb;
}

.catalog-label-orange {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #f5f8fb;
  background-color: #ea3829;
}

.catalog-info-price {
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #f5f8fb;
}

.catalog-name-product {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #eff5fad1;
}

/* h2 {
  font-family: var(--font-secondary);
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #f8f7ff;
} */

.post-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #0265dc;
  padding: 8px 10px 8px 10px;
  background-color: #f5f8fb;
}
.post-info {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #eff5fa;
}
.post-title-name {
  font-family: var(--font-secondary);
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #f5f8fb;
}
.post-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #eff5fa;
}

.about-as-text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: rgba(239, 245, 250, 0.82);
}

h3 {
  font-family: var(--font-secondary);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #f5f8fb;
}

.about-as-list-text {
  color: rgba(239, 245, 250, 0.82);
}

.team-status {
  text-align: center;
}

.team-list-social a {
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
}

.team-list-social img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}

.team-list-social a:hover img {
  transform: scale(1.2);
}

.faqs {
  max-width: 960px;
  margin: 0 auto 60px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 24px;
}

.faqs details {
  background-color: #1d1c28;
  margin-bottom: 15px;
}

summary,
.sidebar-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f5f8fb;
}
.faqs summary {
  padding: 20px 30px;
  position: relative;
  cursor: pointer;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #f5f8fb;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}
summary::after {
  content: "+";
  position: absolute;
  top: 29px;
  z-index: 2;
  right: 25px;
}
details[open] summary::after {
  content: "-";
}

.faqs p {
  position: relative;
  padding: 20px 30px;
  margin: 0;
  border-top: 1px solid rgba(191, 197, 238, 0.12);
}

/* .faqs p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  z-index: 2;
  height: 2px;
  background-color: rgba(191, 197, 238, 0.12);
} */

.footer-slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #f5f8fb;
}

.menu-list {
  list-style-type: none;
}
.title-menu {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #f5f8fb;
}
.menu-item {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #f5f8fb;
}
.footer-bottom {
  border-top: 1px solid;
  border-color: #bfc5ee;
}
.footer-copyright-sign {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #f5f8fb;
}

.footer-bottom-links {
  list-style-type: none;
  text-decoration: none;
}
