* {
  box-sizing: border-box;
}
body {
  background-color: #0d0d15;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
  color: #f5f8fb;
  font-size: 18px;
  line-height: 28px;
}

header {
  padding: 32px;
  text-align: start;
  display: flex;
}

.logo {
  color: #ffffff;
  font-family: Bakbak One;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  font-size: 32px;
  width: 136px;
  height: 42px;
  left: 52px;
  gap: 0px;
  opacity: 0px;
  text-transform: uppercase;
  text-decoration: none;
  padding: auto;
}

.navigation-list {
  list-style-type: none;
  display: flex;
}

.nav-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #f5f8fb;
  text-decoration-line: none;
}

.button-discord {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  text-decoration-line: none;
  color: #f5f8fb;
}
.button-connect {
  background-color: #0265dc;
  color: #f5f8fb;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  border-width: 2px;
  border-style: solid;
  border-color: #0265dc;
  box-sizing: border-box;
  width: 159px;
  height: 48px;
}
.button-connect-walet {
  position: relative;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #f5f8fb;
  width: 190px;
  height: 48px;
  background: #0265dc;
  border-width: 2px;
  border-style: solid;
  border-color: #0265dc;
}

.button-whitelist-now {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #f5f8fb;
  width: 172px;
  height: 48px;
  border-width: 2px;
  border-style: solid;
  border-color: #d0d7fb2b;
  background: #0d0d15;
}

h1 {
  font-family: Bakbak One;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #f5f8fb;
}
.baner-blue {
  color: #0265dc;
}

.statistic-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #f5f8fb;
}
dt {
  font-family: Bakbak One;
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  text-shadow: 4px 13px #ffffff66;
}
dd {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #eff5fad1;
}

.header-categories {
  width: 600px;
  height: 48px;
  gap: var(--Spacing32);
  opacity: 0px;
}

.folder-icon {
  font-family: Bakbak One;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.create-line {
  width: 1167px;
  height: 2px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background: var(--Elements-SeporatorBold-invert, #d0d7fb2b);
}
.catalog-label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: #0265dc;
  background-color: #f5f8fb;
  padding: 8px 10px 8px 10px;
}

.catalog-label-orange {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: #f5f8fb;
  background-color: #ea3829;
  padding: 8px 10px 8px 10px;
}
.catalog-info-price {
  font-family: Bakbak One;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #f5f8fb;
}

.catalog-name-product {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #eff5fad1;
}
h2 {
  font-family: Bakbak One;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #f8f7ff;
}
.post-label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
  color: #0265dc;
  padding: 8px 10px 8px 10px;
  background-color: #f5f8fb;
}
.post-info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #eff5fad1;
}
.post-title-name {
  font-family: Bakbak One;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #f5f8fb;
}
.post-content {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #eff5fad1;
}
.link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration-line: none;
  color: #f5f8fb;
  border: solid 2px #d0d7fb2b;
  padding: 8px 20px 8px 20px;
}

.button-read-more {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #f5f8fb;
  border: 2px solid #d0d7fb2b;
  background-color: #0d0d15;
  width: 149px;
  height: 48px;
}

.about-as-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #eff5fad1;
  width: 960px;
  height: 84px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
}
.about-as-list {
  font-family: Bakbak One;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #f5f8fb;
}
.about-as-item {
  background-color: #1a1925;
  width: 464px;
  height: 232px;
  min-width: 328px;
  padding: var(--Spacing32);
  gap: 0px;
}

.about-as-description {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #eff5fad1;
}

.team-item {
  width: 293px;
  height: 316px;
  min-width: 293px;
  padding: 32px;
  gap: 16px;
  opacity: 0px;
  background-color: #1d1c28;
}

h3 {
  font-family: Bakbak One;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #f5f8fb;
}
.team-status {
  text-align: center;
}

.team-list-social a {
  margin: 0 10px;
  text-align: center;
}
.team-list-social img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}

.team-list-social a:hover img {
  transform: scale(1.2);
}

.faqs {
  max-width: 960px;
  margin: 0 auto 60px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 24px;
}

.faqs details {
  background-color: #1d1c28;
  margin-bottom: 15px;
}

summary,
.sidebar-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #f5f8fb;
}
.faqs summary {
  padding: 20px 30px;
  position: relative;
  cursor: pointer;
  font-family: Bakbak One;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #f5f8fb;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}
summary::after {
  content: "+";
  position: absolute;
  top: 29px;
  z-index: 2;
  right: 25px;
}
details[open] summary::after {
  content: "-";
}
.faqs p {
  position: relative;
  padding: 20px 30px;
  margin: 0;
}
.faqs p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  z-index: 2;
  height: 2px;
  background-color: rgba(191, 197, 238, 0.12);
}

.footer-logo-name {
  font-family: Bakbak One;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #0265dc;
}
.footer-slogan {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #f5f8fb;
}
.menu-list {
  list-style-type: none;
}
.title-menu {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #f5f8fb;
}
.menu-item {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #f5f8fb;
}
.footer-bottom {
  border-top: 1px solid;
  border-color: #bfc5ee1f;
}
.footer-copyright-sign {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #f5f8fb;
}

.footer-bottom-links {
  list-style-type: none;
  text-decoration-line: none;
  text-align: left;
}
